sample_demo_project/src/main/mule/api-gateway.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:db="http://www.mulesoft.org/schema/mule/db"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:secure="http://www.mulesoft.org/schema/mule/secure-property-placeholder"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
      http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
      http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
      http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

    <!-- VIOLATION: HTTP Listener without TLS configuration -->
    <http:listener-config name="HTTP_Listener_Config" doc:name="HTTP Listener config" doc:id="http-listener-config">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>

    <!-- VIOLATION: Database config with hardcoded credentials -->
    <db:config name="Database_Config" doc:name="Database Config" doc:id="database-config">
        <db:my-sql-connection host="localhost" port="3306" user="admin" password="SuperSecretPassword123!" database="mydb" />
    </db:config>

    <!-- VIOLATION: Flow with payload logging -->
    <flow name="MainAPIFlow" doc:id="main-api-flow">
        <http:listener doc:name="Listener" doc:id="http-listener" config-ref="HTTP_Listener_Config" path="/api/users"/>
        
        <!-- VIOLATION: Logging payload directly -->
        <logger level="INFO" doc:name="Logger" doc:id="logger" message="Received payload: #[payload]"/>
        
        <!-- VIOLATION: Hardcoded values in set-payload -->
        <set-payload value='{"api_key": "sk-1234567890abcdefghijklmnopqrstuvwxyz", "timeout": 5000}' 
                    doc:name="Set Response" doc:id="set-payload"/>
    </flow>

</mule>
